aioredis==1.3.1
amqp==2.5.2
asgi-redis==1.4.3
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.2
Automat==20.2.0
autopep8==1.5
backcall==0.1.0
billiard==3.6.3.0
celery==4.4.2
certifi==2019.11.28
cffi==1.14.0
channels==2.4.0
channels-redis==2.4.2
chardet==3.0.4
click==7.1.1
colorama==0.4.1
configparser==3.5.3
constantly==15.1.0
cryptography==2.9
cycler==0.10.0
daphne==2.5.0
decorator==4.4.1
defusedxml==0.6.0
distro==1.5.0
Django==2.2.7
django-allauth==0.41.0
django-braces==1.14.0
django-cleanup==4.0.0
django-crispy-forms==1.9.0
django-model-utils==4.0.0
django-private-chat==0.2.2
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
excalibur-py==0.4.3
flake8==3.7.9
Flask==1.1.2
hiredis==1.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
ipython==7.10.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.11.1
joblib==0.14.0
Keras-Preprocessing==1.1.0
kivy-deps.angle==0.1.10
kivy-deps.glew==0.1.12
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.1.23
kiwisolver==1.1.0
kombu==4.6.8
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==0.6.2
msgpack-python==0.5.6
mysqlclient==1.4.6
oauthlib==3.1.0
opencv-python==4.2.0.34
openpyxl==3.0.3
parso==0.5.1
Pillow==7.1.1
pipenv==2018.11.26
pluggy==0.13.1
prompt-toolkit==3.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
pycryptodome==3.9.7
pydocstyle==5.0.2
pyflakes==2.1.1
Pygments==2.5.2
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.5
PyPDF2==1.26.0
pyperclip==1.7.0
pypiwin32==223
pyqtgraph==0.10.0
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python3-openid==3.1.0
pytz==2019.3
pywin32==227
redis==2.10.6
regex==2020.4.4
requests==2.23.0
requests-oauthlib==1.3.0
rope==0.16.0
service-identity==18.1.0
six==1.13.0
snowballstemmer==2.0.0
sortedcontainers==2.1.0
SQLAlchemy==1.3.16
sqlparse==0.3.0
tabula-py==2.1.0
tqdm==4.45.0
traitlets==4.3.3
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.8
vine==1.3.0
virtualenv==16.7.9
virtualenv-clone==0.5.3
wcwidth==0.1.7
websockets==3.2
Werkzeug==0.16.1
yapf==0.29.0
zope.interface==5.1.0
